[submodule "thirdparty/mongoose"]
	path = thirdparty/mongoose
	url = https://github.com/cesanta/mongoose
[submodule "thirdparty/jsmn"]
	path = thirdparty/jsmn
	url = https://github.com/zserge/jsmn.git
[submodule "thirdparty/sigie"]
	path = thirdparty/sigie
	url = https://github.com/richiefreedom/sigie.git
