body {
	background: #FFFFFF;
	color: #222222;
	font-family: 'Oswald', sans-serif;
}

#headerContainer {
	background-color: #660066;
	color: #FFFFFF;
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

#headerContainer h1 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-family: 'Pacifico', cursive;
}

#menuButton {
	font-size: 2em;
	cursor: pointer;
}

#sidePanelContainer {
	background: #F9E6FF;
	color: #333333;
	border: solid 4px #660066;
}

#sidePanelContainer h1, h2, h3 {
	font-weight: normal;
}

#sidePanelContainer textarea {
	background: #111111;
	border: none;
	font-family: monospace;
	color: #BBBBBB;
}

#sidePanelContainer textarea:hover {
	background: #1f1f1f;
	color: #EEEEEE;
}

#sidePanelContainer input, select {
	background: #111111;
	border: none;
	color: #BBBBBB;
	font-size: 1.2em;
	font-family: 'Oswald', sans-serif;
}

#sidePanelContainer,
#panelProgress,
#sidePanelContainer select,
#sidePanelContainer textarea,
#sidePanelContainer input {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}

#sidePanelContainer input:hover, select:hover {
	background: #FF9900;
	color: #111111;
}

#panelProgress {
	background: #F9E6FF;
	color: #333333;
	border: solid 4px #660066;
}

#panelResponse {
	height: 100px;
}

#panelInput {
	height: 150px;
}

.hidden {
	display: none;
}

.shown {
	display: block;
}

.taskDescription {
	background: #F9E6FF;
	padding: 10px 10px 10px 150px;
}

.taskHeader {
	background: #333333;
	padding: 5px;
	color: #EEEEEE;
	text-align: middle;
}

.taskHeader:after, taskHeader:before {
	content: "";
	display: table;
	clear: both;
}

.closeButton {
	background: #111111;
	font: monospace;
	color: #BBBBBB;
	cursor: pointer;
}

.closeButton:hover {
	background: #FF9900;
	color: #111111;
}
